<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <!-- Adjust the path to the CSS file -->
    <link rel="stylesheet" href='../static/style.css'>
</head>
<body>

<div class="container">
    <div class="content">
        <h1>Lazy academyga xush kelibsiz !</h1>
        <p>Ushbu loyiha sizning bilim olish yo'lingizdagi yordamchingiz bo'ladi deb umid qilamiz</p>
        <button onclick="register()" class="button" >Sign up</button>
        <button onclick="sign_in()" class="button" >Sign in</button>
        <!-- <a href="home" class="button">Go to Another Page</a> -->
    </div>
</div>

<script>
    // JavaScript function to navigate to another page
    function register() {
        // Redirect user to the URL of the target page
        window.location.href = "register";
    }
    function sign_in() {
        // Redirect user to the URL of the target page
    window.location.href = "login";
    }
</script>

</body>
</html>
